@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #568965 #122D1A;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #122D1A;
}

*::-webkit-scrollbar-track:hover {
  background-color: #122D1A;
}

*::-webkit-scrollbar-track:active {
  background-color: #122D1A;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #568965;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #568965;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #568965;
}


body {
  @apply font-ubuntu
}

/* Button */

.button {
  @apply px-8 py-4 rounded-xl text-center font-medium transition-colors duration-200
}

.button.primary {
  @apply bg-earthGreen-500 text-white hover:bg-earthGreen-600
}

.button.secondary {
  @apply bg-transparent border-2 border-earthGreen-500 text-earthGreen-500 border-solid hover:bg-earthGreen-100
}

.button.tertiary {
  @apply bg-earthGreen-50 text-forestGreen-700 hover:bg-earthGreen-100
}

.button.disabled {
  @apply opacity-20 pointer-events-none
}